@font-face {
    font-family: 'asapcondensedblack';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedblackitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedbold';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedbolditalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedextrabold';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedextrabolditalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedextralight';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedextralightitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondenseditalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedlight';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedlightitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedmedium';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedmediumitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedregular';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedsemibold';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'asapcondensedsemibolditalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/AsapCondensed-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedblack';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedblackitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedbold';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedbolditalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedextrabold';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedextrabolditalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedextralight';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedextralightitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondenseditalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedlight';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedlightitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedmedium';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedmediumitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedregular';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedsemibold';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedsemibolditalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedthin';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'sofiasansextracondensedthinitalic';
    src: url('https://cdn.jsdelivr.net/gh/thebookmakers/reversedhorizonstudio-cdncollection/cdnfiles/fonts/SofiaSansExtraCondensed-ThinItalic.ttf') format('truetype');
}

